.qr-code {
  width: 12rem;
}

.profile-pic {
  margin-top: -5rem;
  width: 10rem;
}

.carousel {
  text-align: center;
  display: flex;
  width: auto;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6 {
    display: block;
    clear: both;
  }
  > div {
    &:not(:first-child) {
      margin-left: 0.5rem;
    }
    img {
      height: 10rem;
      width: 10rem;
    }
  }
}

.banner {
  max-width: 100rem;
  max-height: 25rem;
  margin: auto;
  margin-top: -1rem;
  width: calc(100% + 2rem);
}

.track {
  position: relative;
  height: 12rem;
  width: 12rem;
  margin: auto;
  &:hover {
    .track-cover::before {
      left: 25%;
    }
  }
}
.track-artist {
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: auto;
}
.track-cover {
  z-index: 0;
  cursor: pointer;
  position: relative;
}
.track-cover::before {
  z-index: -1;
  transition: left 0.1s linear;
  content: "";
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  border: 3rem solid black;
  border-radius: 100%;
}
