/*GRID - DO NOT USE ON: NAV, ASIDE.TOC, DIV.BANNER, MAIN, ARTICLE, SECTION, FOOTER / BLOCKQUOTE or Q or CITE / AUDIO, IFRAME, IMG or VIDEO: each is content of FIGURE*/
[class*="xs-"], [class*="s-"], [class*="m-"], [class*="l-"], [class*="xl-"], [class*="col-"]{
  float: left;
}
/*Need to put padding between adjecent elements.*/
@media(max-width: 22em){ /*Portrait mobile device.*/
  .xs-1{
    width: 8.333%;
  }
  .xs-2{
    width: 16.666%;
  }
  .xs-3{
    width: 25%;
  }
  .xs-4{
    width: 33.333%;
  }
  .xs-5{
    width: 41.666%;
  }
  .xs-6{
    width: 50%;
  }
  .xs-7{
    width: 58.333%;
  }
  .xs-8{
    width: 66.666%;
  }
  .xs-9{
    width: 75%;
  }
  .xs-10{
    width: 83.333%;
  }
  .xs-11{
    width: 91.666%;
  }
  .xs-12{
    width: 100%;
  }
}
@media(min-width: 22em) and (max-width: 30em){ /*Landscape mobile device.*/
  .s-1{
    width: 8.333%;
  }
  .s-2{
    width: 16.666%;
  }
  .s-3{
    width: 25%;
  }
  .s-4{
    width: 33.333%;
  }
  .s-5{
    width: 41.666%;
  }
  .s-6{
    width: 50%;
  }
  .s-7{
    width: 58.333%;
  }
  .s-8{
    width: 66.666%;
  }
  .s-9{
    width: 75%;
  }
  .s-10{
    width: 83.333%;
  }
  .s-11{
    width: 91.666%;
  }
  .s-12{
    width: 100%;
  }
}
@media(min-width: 30em) and (max-width: 45em){ /*Tablet device.*/
  .m-1{
    width: 8.333%;
  }
  .m-2{
    width: 16.666%;
  }
  .m-3{
    width: 25%;
  }
  .m-4{
    width: 33.333%;
  }
  .m-5{
    width: 41.666%;
  }
  .m-6{
    width: 50%;
  }
  .m-7{
    width: 58.333%;
  }
  .m-8{
    width: 66.666%;
  }
  .m-9{
    width: 75%;
  }
  .m-10{
    width: 83.333%;
  }
  .m-11{
    width: 91.666%;
  }
  .m-12{
    width: 100%;
  }
}
@media(min-width: 45em) and (max-width: 60em){ /*SD desktop/laptop device.*/
  .l-1{
    width: 8.333%;
  }
  .l-2{
    width: 16.666%;
  }
  .l-3{
    width: 25%;
  }
  .l-4{
    width: 33.333%;
  }
  .l-5{
    width: 41.666%;
  }
  .l-6{
    width: 50%;
  }
  .l-7{
    width: 58.333%;
  }
  .l-8{
    width: 66.666%;
  }
  .l-9{
    width: 75%;
  }
  .l-10{
    width: 83.333%;
  }
  .l-11{
    width: 91.666%;
  }
  .l-12{
    width: 100%;
  }
}
@media(min-width: 60em){ /*HD desktop/laptop device.*/
  .xl-1{
    width: 8.333%;
  }
  .xl-2{
    width: 16.666%;
  }
  .xl-3{
    width: 25%;
  }
  .xl-4{
    width: 33.333%;
  }
  .xl-5{
    width: 41.666%;
  }
  .xl-6{
    width: 50%;
  }
  .xl-7{
    width: 58.333%;
  }
  .xl-8{
    width: 66.666%;
  }
  .xl-9{
    width: 75%;
  }
  .xl-10{
    width: 83.333%;
  }
  .xl-11{
    width: 91.666%;
  }
  .xl-12{
    width: 100%;
  }
}
.col-1{
  width: 8.333% !important;
}
.col-2{
  width: 16.666% !important;
}
.col-3{
  width: 25% !important;
}
.col-4{
  width: 33.333% !important;
}
.col-5{
  width: 41.666% !important;
}
.col-6{
  width: 50% !important;
}
.col-7{
  width: 58.333% !important;
}
.col-8{
  width: 66.666% !important;
}
.col-9{
  width: 75% !important;
}
.col-10{
  width: 83.333% !important;
}
.col-11{
  width: 91.666% !important;
}
.col-12{
  width: 100% !important;
}
