//VARIABLE COLOURS
$font: #222;
$primary: #236267;	/* Main Primary color */
$secondary: #2F4172;	/* Main Secondary color (1) */
$tertiary: #2C8437;	/* Main Secondary color (2) */
$main-background: #DDD;	/* Main Secondary color (2) */
$content-colour: #222;
$content-background: #EEE;
$greyscale: false;
$grey-scale: 50%;

//VARIABLE WIDTHS
$nav-width: 12em;
$nav-offset: 0;
$side-nav: true;
$border-radius: 0;
$mobile: 40em;
$tablet: 50em;
$desktop: 58em;
//$desktop: 68.75em;
$maximum: 58em;
$content-height: 1em;

//
$font-size: 16px;

/*MIXINS*/
@mixin box($padding, $border, $margin){
  padding: $padding;
  border: $border;
  margin: $margin;
}
@mixin position($top, $right, $bottom, $left){
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}



//LAYOUT
*{
  user-select: none;
  @include box(0, 0, 0);
  box-sizing: border-box;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

html{
  font-size: $font-size;
  body, button, input, select, time{
    font-family: "Bookman Old Style";
    font-kerning: normal;
    font-size: 1em;
    letter-spacing: 0.01em;
  }
}

body{
  background-color: $main-background;
  @if $greyscale{
    filter: grayscale($grey-scale);
  }
}



#user{
  background: rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  img{
    height: 3em;
  }
  p{
    width: 100%;
    padding: 1em 1em 0 1em;
  }
}


//SEMANTICS
nav{
  @if $nav-width == 0 {
    display: none;
  }
  overflow-y: auto;
  direction: rtl;
  //display: none;
  text-align: left;
  z-index: 900;
  background-color: $primary;
  a{
    color: white;
  }
  ul{
    li{
      list-style-type: none;
      font-weight: bold;
      position: relative;
      color: #FFF;
      &:hover{
        background-color: $secondary;
      }
      &.active{
        background-color: $main-background;
        color: #222;
      }
      &:not(.active){
        cursor: pointer
      }
    }
  }
}

[id*="-preview"]{
  h1:nth-child(2){
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
}

main{
  color: $content-colour;
  article, section{
    position: relative;
    background-color: $content-background;
    max-width: $maximum;
    border-radius: $border-radius;
    padding: 1em;
    &:first-child{
      border-radius: 0 0 $border-radius $border-radius;
    }
    &:last-child{
      border-radius: $border-radius $border-radius 0 0;
      margin: auto;
    }
  }
  article + article, article + section, section + article, section + section{
    margin-top: $content-height !important;
  }
  //HEADINGS
  a{
    color: black;
  }
  h1, h2, h3, h4, h5, h6{
    margin-bottom: 0.25em;
  }
  h2, h3, h4, h5, h6{
    margin-top: 1em;
  }
  h1{
    font-size: 1.75em;
  }
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 1.35em;
  }
  h4{
    font-size: 1.225em;
  }
  h5{
    font-size: 1.1em;
  }
  h6{
    font-size: 1.05em;
  }
  p + p{
    margin-top: 1em;
  }
  ol, ul{
    list-style-type: square;
    margin-left: 2em;
  }
  figure{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    img{
      max-width: 20em;
      margin: auto;
    }
  }
  img{
    width: 100%;
  }
}

footer{
  background: linear-gradient(90deg, $primary, $secondary);
  color: #FFF;
  padding: 1em;
  div{
    max-width: $maximum;
    a{
      color: white;
    }
    ul{
      margin-top: 0.75em;
      >li{
        display: inline;
        padding: 0.125em 1em;
        &:not(:first-child){
          border-left: 1px solid white;
        }
      }
    }
  }
}



button, input{
  background-color: $main-background;
  padding: 1em;
}
button, input:hover{
  background-color: #CCC;
}
button, input:focus{
  background-color: #BBB;
}



//CUSTOM
body{
  nav{
    position: fixed;
    top: 0;
    height: 100%;
    width: $nav-width;
    margin-left: $nav-offset;
    >ul{
      >li{
        padding: 1em;
        margin: 0.5em 0;
        &:hover{
          >ul{
            display: block;
            >li{
              &:hover{
                >ul{
                  display: block;
                }
              }
            }
          }
        }
        &.active{
          >ul{
            background: linear-gradient(90deg, #DDD, $primary) !important;
          }
        }
        >ul{
          background: linear-gradient(90deg, $secondary, $primary);
          position: absolute;
          width: $nav-width;
          top: 0;
          left: $nav-width;
          display: none;
          >li{
            padding: 1em;
            >ul{
              background: linear-gradient(90deg, $secondary, $primary);
              position: absolute;
              width: $nav-width;
              top: 0;
              left: $nav-width;
              display: none;
              >li{
                padding: 1em;
              }
            }
          }
        }
      }
    }
  }
  main{
    max-width: $maximum;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    @if $side-nav == true {
      margin-left: ($nav-width * 2) + 1em + $nav-offset;
    } @else {
      margin-left: $nav-width + 1em + $nav-offset;
    }
  }
  main.anchor{
    article{
      width: 12em;
      text-align: center;
    }
    margin-bottom: 3em;
  }
  footer{
    margin-left: $nav-width;
    text-align: center;
  }
}



/*TEMPLATES*/
nav ul li.active, nav ul li:hover{
  background-color: #00000066;
}
nav > ul > li > ul{
  background-color: #29526D;
}
a{
  color: inherit;
}
code, form{
  background-color: rgba(0, 0, 0, 0.1);
}
button, select{
  background-color: #29526D;
  color: #eee;
}
button:hover, select:hover, input:hover{
  background-color: rgba(0, 0, 0, 0.25);
  color: #222;
}
input{
  background-color: rgba(0, 0, 0, 0.15);
}
input:focus{
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
}
[id|="close"]{
  background-color: #eb6464;
  background: linear-gradient(45deg, #e6a563, #eb6464);
}
option{
  color: #222;
}
































//GRID
.container{
  margin: auto;
  max-width: 71.875em;
}
.grid{ /*MUST BE APPLIED TO THE PARENT OF THE ELEMENT WHERE .l-1 OR SIMILAR ARE USED*/
  display: flex;
  justify-content: space-between;
}
.horizontal{
  flex-direction: row;
}
.vertical{
  flex-direction: column;
}
